

*,::after,::before{box-sizing:border-box}blockquote,body,dd,dl,figure,h1,h2,h3,h4,p{margin:0}ol[role=list],ul[role=list]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}button,input,select,textarea{font:inherit}@media (prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,::after,::before{animation-duration:0s!important;animation-iteration-count:1!important;transition-duration:0s!important;scroll-behavior:auto!important}}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/*
TEMPORARY
*/

#half-life {
	padding-bottom: 20px;
}

:root {
  --font-family: "Inter", sans-serif;
  --gray-tile-background: #191919;
  --gray-90: #181A1B;
  --gray-40: #ADB9C0;
  --white: #FFFFFF;
}

body {
	background-color: black;
	font-family: var(--font-family);
	color: var(--white);
}

button {
	cursor:pointer;
}

a:hover, button:hover {
  opacity: 0.7;
}


/* LOADING ANIMATIONS */

.fadein {
    opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

body.loaded .fadein {
    opacity: 1;
}


.slide-up-close {
    transform: translateY(48px);
    transition: transform 1.6s;
}

.slide-up-close.loaded {
    transform: translateY(0);
}

.slide-up-far {
    transform: translateY(128px);
    transition: transform 1.5s;
}

.expand {
	opacity: 0;
	scale: 0.5;
/*	transition: transform 1.2s, opacity 1.8s;*/


	display: block;
/*    max-height: 0;*/
    transition: transform 1.2s, opacity 1.8s, color 1.2s 1.8s;
/*    overflow: hidden;*/
}


.expand.loaded {
    transform: scale(2);
    opacity: 1;
/*    max-height: 200px;*/
}

.slide-up-close-opacity {
    opacity: 0;
    transform: translateY(48px);
    transition: transform 1.6s, opacity 1.6s;
}

.slide-up-close-opacity.loaded {
    opacity: 0.72;
    transform: translateY(0);
}

/*.appear {
    opacity:0;
    transition: opacity 1.2s linear 2s;
}

.appear.loaded {
    opacity:1;
}*/

.delay100{ transition-delay: 100ms; }
.delay200{ transition-delay: 200ms; }
.delay300{ transition-delay: 300ms; }
.delay400{ transition-delay: 400ms; }
.delay600{ transition-delay: 600ms; }
.delay800{ transition-delay: 800ms; }
.delay1000{ transition-delay: 1000ms; }
.delay1200{ transition-delay: 1200ms; }
.delay1400{ transition-delay: 1400ms; }
.delay1600{ transition-delay: 1600ms; }
.delay1800{ transition-delay: 1800ms; }
.delay2000{ transition-delay: 2000ms; }
.delay2200{ transition-delay: 2200ms; }
.delay2400{ transition-delay: 2400ms; }
.delay2600{ transition-delay: 2600ms; }
.delay2800{ transition-delay: 2800ms; }
.delay3000{ transition-delay: 3000ms; }
.delay3200{ transition-delay: 3200ms; }
.delay3400{ transition-delay: 3400ms; }
.delay3600{ transition-delay: 3600ms; }


.slide-up-far.loaded {
    transform: translateY(0);
}

.hidden {
	opacity: 0;
	display: none;
}





.vstack {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.vstack.left {
	align-items: flex-start;
}


.hstack.right {
	justify-content: flex-end;
}

.hstack {
	display: flex;
	justify-content: center;
	align-items: center;
}



#main-container {
	width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow-x: hidden; /* Stop bottom gradient blur overflows */
}

#main-container::before {
	content: ' ';
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: 
		linear-gradient(
			183deg,
			rgba(248, 125, 236, 0.20) 0%, 
			rgba(0, 0, 0, 0.00) 50%
		), 
		linear-gradient(
			178deg,
			rgba(77, 156, 255, 0.20) 0%, 
			rgba(34, 132, 255, 0.00) 50%
		), 
		var(--Black, #000);
	background-size: 200% 20%;
	background-repeat: no-repeat;
	opacity: var(--topGradientOnScroll, 1.0);
	transition: opacity 1.2s, background 1.2s;


	animation: gradient 6s ease forwards;

	z-index: -1;
}


@keyframes gradient {
	0% {
		background-size: 200% 20%;
	}
	100% {
		background-size: 100% 100%;
	}
}


.max-width-container {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1276px;
    width: 100%;

    margin-left: 80px;
    margin-right: 80px;
}

#nav-container-blur {
/* Top blur	*/
	position: sticky;
	top: 0;
	-webkit-backdrop-filter: blur(24px);
	backdrop-filter: blur(24px);
	z-index: 2;
	width: 100vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#nav-container {

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: rgba(255, 255, 255, 8%) 1px solid;
	width: 100%;
}

#nav-container-links {
	display: flex;
}

.top-nav-link {
	opacity: 60%;
    text-decoration: none;

	padding-left: 24px;
	padding-right: 24px;
}

.top-nav-link.selected {
	display: flex;
	flex-direction: column;
	opacity: 100%;
}

/*.top-nav-link.selected > h4 {
	border-bottom: white 4px solid;
}*/

.top-nav-link.selected::after {
	content: "";
	width: 100%;
	height: 4px;
	background-color: white;
	position: relative;
	bottom: 0px;
	border-radius: 2px 2px 0 0;
}

.top-nav-link > h4 {
	font-family: var(--font-family);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px; /* 200% */
	color: var(--white);

	padding-top: 32px;
	padding-bottom: 24px;
}

#e-icon-img {
	max-width: 160px;
}

#main-title {
	font-family: var(--font-family);
	text-align: center;
	font-size: 208px;
	font-style: normal;
	font-weight: 700;
	line-height: 192px; /* 92.308% */
	padding-top: 128px;
}



#subtitle-body {
	font-family: var(--font-family);
	color: var(--white);

	text-align: center;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 56px; /* 175% */
	max-width: 800px;

	padding-top: 76px;
}

#badge-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding-top: 50px;
}

#badge-tc {
	max-width: 128px;
}

#badge-yc {
	max-width: 196px;
	margin: 0 84px;
}

#badge-app-store {
	max-width: 128px;
}


.join-waitlist-btn {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: var(--white);

	background-color: var(--gray-90);
	padding: 13px 20px;
	border: none;
	border-radius: 12px;
	/*background: none;*/
}


#push-the-envelope {
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
}


#explanation-container {
    position: initial; 
	left: 0; 
    top: -166px;
	margin-bottom: 0; 
}





/* TILES */


#tiles-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 412px);
    grid-gap: 20px;    

    margin-top: 124px;
}




.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    min-height: 332px;

    border-radius: 24px;

    padding: 30px;
}

.tile.double-width {    
	grid-column: span 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.tile-title {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;

	padding-bottom: 7px;
}


.container-tile-double-width-text {
	/*margin: 40px;*/
    max-width: 342px;
}

.container-tile-left-align > .tile-title {
	padding-bottom: 12px;
}

.container-tile-left-align > .tile-description {
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	opacity: 0.8;
}

#tile-cards {
	position: relative; /* Allow the cards to expand outside the tile */
	justify-content: flex-end;
	padding-bottom: 38px;
}


.tile-description {
	max-width: 290px;

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	opacity: 0.8;
}

.tile-description-double-width {
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	opacity: 0.8;
}

.tile-description.top {
	padding-bottom: 8px;
}

.tile-description-double-width.top {
	padding-bottom: 8px;
}

.tile {
	position: relative;
	-webkit-backdrop-filter: blur(24px);
	border-radius: 20px;
	border: 1px solid var(--Stroke, rgba(255, 255, 255, 0.12));
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.04) 100%);
/*	backdrop-filter: blur(8px);*/
	z-index: 1;
}

.tile.notifications {
	padding-left: 0;
	padding-right: 0;
}

.tile.notifications::after {
	position: absolute;
	content: "";
	width: 648.557px;
	height: 1172.22px;

	transform: rotate(-23.914deg);
	background: radial-gradient(50% 50% at 50% 50%, #1EB7E7 0%, rgba(60, 136, 238, 0.00) 100%);
	opacity: 0.4;
	z-index: -1;

	top: -300px;
	left: 0;

	opacity: var(--botGradientOnScroll, 0.0);
	transition: opacity 1.2s 0.3s;
}


.tile.budgeting {
/*	background: radial-gradient(101.78% 111.86% at 85.8% -3.75%, #FFC44D 0%, #FF974C 100%);*/
}

.tile.budgeting::after {
	position: absolute;
	content: "";
	width: 531.984px;
	height: 934.97px;
	transform: rotate(80.013deg);
	background: radial-gradient(50% 50% at 50% 50%, #FFBE4D 0%, rgba(255, 191, 77, 0.00) 100%);
	opacity: 0.4;
	z-index: -1;

	top: -300px;
	right: -280px;

	opacity: var(--botGradientOnScroll, 0.0);
	transition: opacity 1.2s 0.6s;
}

.tile.secure::after {
	position: absolute;
	content: "";

	width: 751.924px;
	height: 950.103px;
	transform: rotate(114.411deg);

	opacity: 0.4;
	z-index: -1;

	background: radial-gradient(50% 50% at 50% 50%, #BD52D7 0%, rgba(128, 82, 255, 0.00) 100%);

	left: -240px;

	opacity: var(--botGradientOnScrollLower, 0.0);
	transition: opacity 1.6s 0.9s;
}


.tile.goals::after {
	position: absolute;
	content: "";

	width: 577.235px;
	height: 1300.956px;
	transform: rotate(77.529deg);

	opacity: 0.4;
	z-index: -1;

	background: radial-gradient(50% 50% at 50% 50%, #B5CC67 0%, rgba(103, 205, 103, 0.00) 100%);

	top: -420px;

	opacity: var(--botGradientOnScrollLower, 0.0);
	transition: opacity 2.4s 1.2s;
}






#hand-container {
	position: relative;
	margin-top: 130px;
}

#image-mock-main-hand {
	max-width: 1030px;
}


#image-tile-notifications {
	width: 400px;
	filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.2));

    margin-bottom: 37px;

}

#image-tile-budgeting {
	width: 350px;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 40%);

    margin-top: 36px;
}

#image-tile-cards {    
	position: absolute;
    top: -141px;
    max-width: 481px;
}

#image-tile-envelope-1 {
	width: 363px;
}

#image-tile-envelope-2 {
	width: 350px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
	border-radius: 16px;
	/*margin: 32px;*/
}

#image-available {
    width: 358px;
    /*margin: 24px 27px;*/
}

#image-tile-secure {
	width: 72px;
	margin-bottom: 24px;
}

#image-tile-memojis {
	width: 268px;
	margin-bottom: 24px;
}












/* FORM */

#form-container {
    background: #16181B;
    width: 486px;
    padding: 40px;
    border-radius: 32px;
    margin: 0 32px;
}

#form-backing {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    visibility: visible;
    transition: visibility 0.3s;
    transition: opacity 0.3s;

    z-index: 3;
}

#form-backing.hidden {
	visibility: hidden;
	opacity: 0;
}

#form-email {
	width: 100%;
    background-color: black;
    border-radius: 20px;
    height: 64px;
    border: 0;
    color: white;
    padding: 20px;
    font-size: 16px;

    margin-top: 27px;
    margin-bottom: 40px;

    /*box-shadow: 0 0 10px #719ECE;*/
}

#form-email:focus {
	outline: none;
	border: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
}


#get-notified-bottom {
	/*margin-top: 80px;*/
	display: none;
}

#get-notified-top {
	display: block;
}


#cancel-button {
	background-color: black;
    color: white;
    height: 44px;
    padding: 12px 24px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

#submit-button {
	background-color: #00A5FF;
    color: white;
    height: 44px;
    padding: 12px 24px;
    margin-left: 16px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}


#cancel-button:hover {
	-webkit-filter: brightness(70%)
}

#submit-button:hover {
	-webkit-filter: brightness(115%)
}

#form-success {
	font-family: var(--font-family);
    color: white;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
}

#form-success-text {
    font-family: var(--font-family);
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;

	/* White */

	color: #FFFFFF;

    padding-top: 12px;
    padding-bottom: 12px;
}


#img-fdic {
	max-width: 50px;
}



#disclosure-text {
/*	margin-bottom: 25px;*/
}














/* FOOTER */

#footer {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 85px;
    padding-bottom: 166px;
}

#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#image-footer-e {
	width: 59px;
}

#footer-logo-container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#footer-logo-text {
	font-size: 14px;
	line-height: 20px;
    opacity: 0.8;

    padding-top: 21px;
}

.footer-links-container {
    display: flex;
    flex-direction: row;
}

.footer-links {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    justify-content: flex-end;
}

.footer-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--white);
    opacity: 0.8;
    padding-top: 24px;
    text-decoration: none;
}





/* BOTTOM DISCLOSURE*/


.row-fdic {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#bank-disclosure {

}

#bank-disclosure-container {
    padding-top: 61px;
}

#img-fdic {
	width: 49px;
}

#fdic-text {
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 12px;
    margin-bottom: 0;
    margin-left: 10px;
    color: #6D7880;
}

#disclosure-text {
	color: #6D7880;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
    margin-top: 25px;
	color: #6D7880;
	max-width: 844px;
}



/* Disclosures page (privacy policy, etc.) */
#disclosure-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-left: 100px;
    padding-top: 140px;
}

.disclosure-link {
	display: flex;
    flex-direction: row;
    align-items: center;

	font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    padding-bottom: 17px;
}

.disclosure-link img {
    width: 64px;
    height: 64px;
    margin-left: 21px;
}

.disclosure-link {
	color: white;
	text-decoration: none;
}

#auth-redirect-link {
/*    font-weight: 500;*/
    font-size: 18px;
    line-height: initial;
}


#auth-redirect-image {
    width: 48px;
    height: 48px;
    margin-left: 21px;
}



 /* Two columns */
@media (max-width: 1436px) {

	#main-container {
		background-size: auto;
	}

	.max-width-container {
		max-width: 921px;
	}

	#tiles-container {
	    margin-top: 200px;
	}

	.tile-description-double-width {
		padding-bottom: 26px;
	}

	.tile.double-width.double-height-during-2-col {
		grid-column: span 1;
		grid-row: span 2;
		flex-direction: column;
	    align-items: center;
	    padding-top: 37px;
	}

	.tile.goals {
	    grid-column: span 1;
	    grid-row: span 2;
	    flex-direction: column;
        align-items: center;
	}

	#tile-cards {
	    grid-row: 1;
	}


}





 /* One column */
@media (max-width: 980px) {

	.max-width-container {
	    max-width: 921px;
	    padding: 24px;
	    overflow-x: hidden;
	}

	#main-title {    
		font-size: 96px;
	    line-height: 90px;
	}

	#badge-container {
	    scale: 0.75;
	}

	#badge-yc {
	    margin: 0 56px;
	}

	.tile {
		padding: 24px;
	}

	.tile.double-width,
	.tile.double-width.double-height-during-2-col {
		grid-column: span 1;
		grid-row: span 2;

	    flex-direction: column;
	}

	#tiles-container {
	    grid-template-columns: none;
	}


	#footer {
	    padding-left: 50px;
	    padding-right: 50px;
	}

	/* Make the footer links vertical */
	.footer-links-container {
	    flex-direction: column;
	}

	#disclosure-container {
	     padding-left: 0;
	}

}








